{% extends "base.html" %}
{% load static %}

{% block page_title %}
<title>About Us | Neon Monetization</title>
{% endblock %}


{% block content %}
<section class="about-section ">
  <h1 class="section-title">About Us</h1>
  <div class="container">

      <div class="content">
          <h2 class="story-title">Our Story</h2>
          <div class="about-story">
            <p>Neon Monetization provides innovative ad solutions for publishers and advertisers.<br> Our mission is to maximize revenue with high-quality formats.</p>
          <img src="{% static "images/pages/traffic.webp" %}" alt="Team Member" class="about-image">
          </div>
      </div>
      <div class="team-cards">
        <h2 class="meat-team-title">Meet Our Team</h2>
        <div class="team-grid">


              <div class="team-card">
                <div class="social-icons">
                  <!-- Add more social icons as needed -->
                  <a href=""><div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-instagram"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-regular fa-envelope"></i></div></a>
                </div>
                <img src="{% static "images/user/author.webp" %}" alt="Taylor">
                <div class="team-info">
                  <div class="card-title">
                    <h3>Yasir </h3>
                      <img src="{% static "images/user/verified.png" %}" alt="Verified" >
                  </div>
                  <div class="card-category">
                    <span>Marketing Expert</span>
                    <span>SEO</span>
                  </div>
                </div>
              </div>


              <div class="team-card">
                <div class="social-icons">
                  <!-- Add more social icons as needed -->
                  <a href=""><div class="social-icon"><i class="fa-brands fa-instagram"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-github"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-linkedin-in"></i></div></a>
                </div>
                <img src="{% static "images/user/author.webp" %}" alt="Taylor">
                <div class="team-info">
                  <div class="card-title">
                    <h3>Rizwan </h3>
                      <img src="{% static "images/user/verified.png" %}" alt="Verified" >
                  </div>
                  <div class="card-category">
                    <span>Developer</span>
                    <span>Manager</span>
                  </div>
                </div>
              </div>

              <div class="team-card">
                <div class="social-icons">
                  <!-- Add more social icons as needed -->
                  <a href=""><div class="social-icon"><i class="fa-brands fa-instagram"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-whatsapp"></i></div></a>
                </div>
                <img src="{% static "images/user/author.webp" %}" alt="Talha">
                <div class="team-info">
                  <div class="card-title">
                    <h3>Talha </h3>
                      <img src="{% static "images/user/verified.png" %}" alt="Verified" >
                  </div>
                  <div class="card-category">
                    <span>Soldier</span>
                    <span>BOSS</span>
                  </div>
                </div>
              </div>

              <div class="team-card">
                <div class="social-icons">
                  <!-- Add more social icons as needed -->
                  <a href=""><div class="social-icon"><i class="fa-brands fa-instagram"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-facebook-f"></i></div></a>
                  <a href=""><div class="social-icon"><i class="fa-brands fa-x-twitter"></i></div></a>
                </div>
                <img src="{% static "images/user/author.webp" %}" alt="Taylor">
                <div class="team-info">
                  <div class="card-title">
                    <h3>Shazad </h3>
                      <img src="{% static "images/user/verified.png" %}" alt="Verified" >
                  </div>
                  <div class="card-category">
                    <span>Person of Intrest</span>
                    <span>BOSS</span>
                  </div>
                </div>
              </div>
        </div>
      </div>

  </div>
</section>
      </div>
  </div>
</section>

{% endblock %}