{% extends "layout.html" %}
{% load static %}
{% block page_title %}
  <title>SignUp</title>
{% endblock %}

{% block auth_pages %}

<div class="card my-5">

  <form method="POST">
    {% csrf_token %}

    <div class="card-body">
      <div class="d-flex justify-content-between align-items-end mb-4">
        <h3 class="mb-0"><b>Sign up</b></h3>
        <a href="{% url "user_login" %}" class="link-primary">Already have an account?</a>
      </div>
      
      <div class="row">
        
        <div class="form-group mb-3">
          <label class="form-label">Username *</label>
          <input Required type="text" class="form-control" placeholder="Enter a Username" name="username">
        </div>
      
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Email Address *</label>
        <input Required type="email" class="form-control" placeholder="Email Address" name="email">
      </div>
      <div class="form-group mb-3">
        <label class="form-label">Password</label>
        <input Required type="password" class="form-control" placeholder="Password" name="password1">
      </div>
      <div class="form-group mb-3">
        <label class="form-label" for="password2">Conform Password</label>
        <input Required type="password" class="form-control" placeholder="Conform Password" name="password2">
      </div>
        {% if messages %}
          {% for message in messages %}
           <div style="margin: -20px;" class="alert alert-{{ message.tags }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
       
      <p class="mt-4 text-sm text-muted">By Signing up, you agree to our <a href="{% url "terms_conditions" %}" class="text-primary"> Terms of Service </a> and <a href="{% url "privacy_policy" %}" class="text-primary"> Privacy Policy</a></p>
      <div class="d-grid mt-3">
        <button type="submit" class="btn btn-primary">Create Account</button>
      </div>
      <div class="saprator mt-3">
        <span>Sign up with</span>
      </div>
      <div class="row">
        <div class="col-4">
          <div class="d-grid">
            <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="{% static "images/authentication/google.svg" %}" alt="img"> <span class="d-none d-sm-inline-block"> Google</span>
            </button>
          </div>
        </div>
        <div class="col-4">
          <div class="d-grid">
            <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="{% static "images/authentication/twitter.svg" %}" alt="img"> <span class="d-none d-sm-inline-block"> Twitter</span>
            </button>
          </div>
        </div>
        <div class="col-4">
          <div class="d-grid">
            <button type="button" class="btn mt-2 btn-light-primary bg-light text-muted">
              <img src="{% static "images/authentication/facebook.svg" %}" alt="img"> <span class="d-none d-sm-inline-block"> Facebook</span>
            </button>
          </div>
        </div>
      </div>
      
    </div>
  </form>
  
</div>

{% endblock %}
